<% content_for :title do %>Super Solly <% end %>
<% content_for :description do %> Website of Super Solly <% end %>
<section>
  <img src="http://lorempixel.com/1170/600/cats/1">
</section>
  <div class="column">
    <h3>Stay in touch.</h3>
  </div>
  <div class="column">
    <%= simple_form_for @visitor do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, label: false, placeholder: 'Your email address...' %>
      <br />
      <%= f.button :submit, 'Sign up for the newsletter', class: 'submit' %>
    <% end %>
  </div>
</section>
